openapi: 3.0.3
info:
  title: VaultLine API
  description: |
    Real-time and historical financial data API covering fiat currencies,
    cryptocurrencies, stocks, and precious metals.

    ## Rate Limits
    - Sandbox: 100 requests/day
    - Standard: 10,000 requests/day
    - Enterprise: Unlimited

    ## History Limits
    - Sandbox: 30 days
    - Standard: 365 days
    - Enterprise: Unlimited
  version: 1.0.0
  contact:
    name: VaultLine Support
    email: support@vaultline.io

servers:
  - url: https://api.vaultline.io/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Development

security:
  - ApiKeyAuth: []

paths:
  /rates:
    get:
      summary: Get current rates
      description: |
        Returns the current exchange rates for one or more symbols.
        Supports direct rates (e.g., EUR) and cross-rates (e.g., EUR/JPY).
      parameters:
        - name: symbols
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of symbols (e.g., "EUR,BTC/USD,AAPL")
          examples:
            single:
              value: EUR
              summary: Single symbol
            multiple:
              value: EUR,BTC/USD,AAPL
              summary: Multiple symbols
        - name: symbol
          in: query
          required: false
          schema:
            type: string
          description: Single cross-rate symbol (e.g., "EUR/JPY") - use for triangulated rates
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Historical date (YYYY-MM-DD). Omit for current rates.
      responses:
        '200':
          description: Successful response with rates
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RatesResponse'
                  - $ref: '#/components/schemas/TriangulatedRateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /rates/history:
    get:
      summary: Get historical rates
      description: |
        Returns rate history for a symbol over a date range.
        History range is limited by plan:
        - Sandbox: 30 days
        - Standard: 365 days
        - Enterprise: Unlimited
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Single symbol (e.g., EUR, BTC/USD)
          example: EUR
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
      responses:
        '200':
          description: Successful response with historical data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /assets:
    get:
      summary: List supported assets
      description: Returns all supported symbols grouped by asset class.
      parameters:
        - name: asset_class
          in: query
          required: false
          schema:
            type: string
            enum: [fiat, crypto, stocks, metals]
          description: Optional filter by asset class
      responses:
        '200':
          description: Successful response with assets list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication

  schemas:
    Rate:
      type: object
      properties:
        symbol:
          type: string
          example: EUR
        rate:
          type: string
          example: "0.92"
        base_currency:
          type: string
          example: USD
        asset_class:
          type: string
          enum: [fiat, crypto, stocks, metals]
          example: fiat
        date:
          type: string
          format: date
          example: '2024-03-15'
        delayed_by:
          type: string
          example: "0"
      required:
        - symbol
        - rate
        - base_currency
        - asset_class
        - date

    RatesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        not_found:
          type: array
          items:
            type: string
          description: Symbols that were not found
        meta:
          type: object
          properties:
            cache:
              type: string
              enum: [HIT, MISS]
            timestamp:
              type: string
              format: date-time
      required:
        - data
        - meta

    TriangulatedRateResponse:
      type: object
      description: Response for cross-rate triangulated requests
      properties:
        data:
          type: object
          properties:
            symbol:
              type: string
              example: EUR/JPY
            rate:
              type: number
              example: 163.45
            inverseRate:
              type: number
              example: 0.00612
            date:
              type: string
              format: date
        meta:
          type: object
          properties:
            triangulated:
              type: boolean
              example: true
            baseCurrency:
              type: string
              example: EUR
            quoteCurrency:
              type: string
              example: JPY
            usdToBase:
              type: number
            usdToQuote:
              type: number
            precision:
              type: integer
              example: 8
            cache:
              type: string
              enum: [HIT, MISS]
      required:
        - data
        - meta

    HistoryResponse:
      type: object
      properties:
        symbol:
          type: string
          example: EUR
        base_currency:
          type: string
          example: USD
        asset_class:
          type: string
          enum: [fiat, crypto, stocks, metals]
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        history:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              rate:
                type: string
        delayed_by:
          type: string
      required:
        - symbol
        - history

    AssetClass:
      type: object
      properties:
        name:
          type: string
          enum: [fiat, crypto, stocks, metals]
        symbol_count:
          type: integer
        symbols:
          type: array
          items:
            type: string

    AssetsResponse:
      type: object
      properties:
        asset_classes:
          type: array
          items:
            $ref: '#/components/schemas/AssetClass'
        total_symbols:
          type: integer
          example: 64
        cross_pairs:
          type: object
          properties:
            supported:
              type: boolean
              example: true
            format:
              type: string
              example: "BASE/QUOTE"
            note:
              type: string
              example: "Use triangulated cross-rates for any currency pair"
      required:
        - asset_classes
        - total_symbols
        - cross_pairs

    Error:
      type: object
      properties:
        error:
          type: string
          example: Invalid symbol
        message:
          type: string
          example: Please provide a valid symbol
        code:
          type: string
          example: INVALID_SYMBOL
      required:
        - error

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Missing required parameter
            message: Please provide at least one symbol using the "symbols" query parameter

    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Invalid or missing API key
            code: UNAUTHORIZED

    Forbidden:
      description: Request exceeds plan limits
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: History limit exceeded
            message: Your plan allows up to 30 days of history
            max_from_date: "2024-02-15"

    NotFound:
      description: Symbol or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Symbol not supported
            code: SYMBOL_NOT_FOUND

    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Rate limit ceiling for the request
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Time when the rate limit resets (Unix timestamp)
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Rate limit exceeded
            code: RATE_LIMITED

    ServiceUnavailable:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  degraded:
                    type: boolean
                  reason:
                    type: string
          example:
            error: Service temporarily unavailable
            degraded: true
            reason: Database connection issue
